{% load static %}
<link rel="stylesheet" href="{% static 'indexing_project/home.css' %}" />
<link rel="stylesheet" href="{% static 'indexing_project/navbar.css' %}" />

<body>
  <div class="topnav">
    <a class="active">Search</a>
    <a href="{% url 'crawl' %}">Crawl</a>
  </div>
  <div class="title">
    <span>S</span>
    <span>H</span>
    <span>O</span>
    <span>P</span>
    <span>!</span>
  </div>
  <div class="box">
    <form name="search" class="search" action="search/" method="get">
      <input
        type="text"
        class="input"
        name="q"
        placeholder="Enter Product Name"
      />
    </form>
  </div>
</body>
