{% load static %}
<link rel="stylesheet" href="{% static 'indexing_project/search.css' %}" />
<h1>Search Results for {{query}}</h1>

<div class="main">
  <form action="" method="post" class="filters">
    {% csrf_token %} 
    {# This will display the radio button HTML for you #}
    {{form.as_p }} 
    {# You'll need a submit button or similar here to actually send the form #}
    <input type="submit" value="Submit" />
  </form>

  <div class="result-box">
    {% for res in result|dictsort:'name' %}
    <!-- for distinct results only -->
    {% ifchanged %}
    <div class="container">
      <div class="overlay">
        <div class="items head">
          <p>{{res.name}}</p>
          <hr />
        </div>
        <div class="items price">
          <p class="old">$699</p>
          <p class="new">$345</p>
        </div>
        <div class="items cart">
          <span>ADD TO CART</span>
        </div>
      </div>
    </div>
    {% endifchanged %}
    <!-- {{ res.name }} {{res.rating_star}}</br> -->
    {% empty %} There are no results. {% endfor %}
  </div>
</div>
